/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}

h1{
    margin-bottom: 0px;
}
.ville{
    margin-bottom: 30px;
}

.entete{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.entete_ensemble{
    display: flex;
    gap: 10px;
}

.entete_z{
    margin-right: 25px;
}

.entete_z:hover{
    color:blue;
    border-top: 3px solid blue;
    cursor: pointer;
    
}
.entete_e:hover{
    color:blue;
    border-top: 3px solid blue;
    cursor: pointer;
}


.imglogo{
    width: 100px;
    margin: 10px 10px 10px 0px;
}

.i_recherche{
    border: 3px solid ;
}

.filtre{
    display: flex;
}

.lu_filtre{
    display: flex;
}

.lu_filtre .bouton_filtre{
    border: 3px solid #D9D9D9;
    border-radius: 30px;

    padding-right: 20px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;


    margin-right: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.lu_filtre .bouton_filtre:hover{
    background-color: #DEEBFF;
    cursor: default;
}

.lu_filtre .bouton_filtre i{
    margin-right: 10px;
    margin-left: 10px;
}


.filtre_span{
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
    padding-top: 11px;
}




.form{
    display: flex;
    margin-bottom: 25px;
}

.espace_p{
    margin-top: 5px;
    margin-bottom: 20px;
}

.espace_heb{
    margin-top: 30px;
    margin-bottom: 30px;
}

.taille_bouton{
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    border-color: #0065FC;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 12px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.taille_search{
    width: 214px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}

.taille_i{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 15px 0px 0px 15px;
    color:black !important;
    padding-bottom: 10px;
    padding-top: 10px;
    
}




.espace_heb {
    position: relative;
    
}

.info-circle {
    display: inline-block;
    width: 27px; /* Largeur du cercle */
    height: 27px; /* Hauteur du cercle */
    border-radius: 50%; /* Pour rendre le cercle arrondi */
    border: 2px solid #D2D2D2; /* Couleur et épaisseur de la bordure */
    text-align: center; /* Centrage horizontal */
    line-height: 27px; /* Centrage vertical */
    margin-right: 5px; /* Marge à droite pour séparer le cercle du texte */
}

.info-circle i {
    font-size: 16px; /* Taille de l'icône */
    color: #0065FC; /* Couleur de l'icône */
}



li{
    margin-bottom: 10px;
}

footer{
    
    background-color: var(--main-bg-color);
    
}

.p1{
    margin-left: 2em;
}

.p3{
    margin-right: 10em;
}

.class_activite{
    padding: 10px;
    margin-bottom: 54px;
}

.plus{
    display: block;
    padding-top: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.activite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activite img{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    margin-right: 20px;
    object-fit: cover;
}

.activite h3{
    padding-top: 5px;
    padding-bottom: 5PX;
    padding-left: 15px;
    
}

.activite_card{
    width: 23%;
    box-shadow: 0px 2px 8px #00000066;
    border-radius: 20px;
}

.activ{
    margin-bottom: 35px;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    max-width: 1440px;
    min-width: 320px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    width: 100%;
}

.card_img{
    border-radius: 20px 20px 0 0;
    height: 100px;
}

.card-title {
    font-size: 16px;
    
}

.card_hebergement .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin-bottom: 0%;
}


.card_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_hebergement a{
    width: 30%;
    height: 100%;
}

.card_hebergement .card{
    margin-top: 33px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-content .txt-heb {
    margin-left: 10px;
    margin-bottom: 5px;
}

.search_bouton{
    display: none;
}

.liste-container{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}


.liste{
    list-style: none;
}


footer {
    display: flex;
    justify-content: space-between; /* Pour répartir les colonnes de manière égale */
    background-color: #F2F2F2;
    color: black;
    padding: 20px;
    text-align: center;
}
  
.footer-column {
    flex: 1; /* Pour que chaque colonne prenne autant d'espace */
    text-align: left; /* Alignement du texte à gauche dans chaque colonne */
}
  
.footer-column ul {
    list-style: none; /* Supprimer les puces de la liste */
    padding: 0;
}
  
.footer-column h3 {
    margin-top: 0; /* Supprimer la marge par défaut du titre */
}
  


.card-subtitle{
    margin-bottom: 3px;
}

.card-txt .txt-heb{
    margin-left: 10px;
    
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    
    .filtre{
        display: unset;
    }

    .lu_filtre .bouton_filtre {
        padding-top: 10px;
        padding-bottom: 10px;
        white-space: nowrap;
    }
    
    .filtre_span{
        display: inline-block;
        margin-bottom: 20px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .activite_card{
        width: 100%;
        
    }


    .liste-container{
        flex-direction: column;
    }
    

    .p2{
        margin-left: 2em;
    }

    .p3{
        margin-left: 2em;
    }

    .activite_card{
        margin-bottom: 2em;
    }

    .card_hebergement{
        display: inline;
    }

    .populaires-cards{
        display: inline;
    }


    .filtre{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        

    }


    .lu_filtre{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .lu_filtre .bouton_filtre {
        width: 100%;
        padding-right: unset;
        padding-left: unset;
        margin-right: unset;
        
    }
    .lu_filtre a {
        margin-bottom: 20px;
        width: 49%;
        
    }


    .entete{
        display: inline;
    }

    .entete_a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .entete_ensemble{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .entete_z:hover{

        color:#0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        cursor: pointer;
        
    }
    .entete_e:hover{

        color:#0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        cursor: pointer;
    }

    .entete_z{
        width: 100%;
        text-align: center;
        margin: 0px;
    
    }
    .entete_e{
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    .entete_ensemble{
        border-bottom: 3px solid #F2F2F2;
    }

    .taille_bouton{
        display: none;
    }

    .search_bouton{
        display: flex;
        border: 17px solid #0065FC;
        color: white;
        background-color: #0065FC;
        border-radius: 13px;
        margin-left: -1px;
        padding-bottom: 1px;
        padding-top: 1px;
        margin-left: -5px;
    }

    .taille_search{
        width: 92%;
        font-size: 18px;
        
    }

    .taille_i{
        padding-left: 15px;
        padding-right: 9px;
    }

    .form{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
    }


    .main-container{
        margin: 0;
        padding: 0;
    }

    .hebergements-and-populaires section{
        border-radius: unset;
        
    }

    .hebergements.col{
        background-color: white !important;
    }

    .class_activite{
        padding: 30px;
    }

    .taille_i {
        
        padding-top: 17px;
      }


    .ville{
        margin-right: 3%;
        margin-left: 3%;
    }

    .recherche{
        margin-right: 3%;
        margin-left: 3%;
    }


    .espace_heb{
        margin-left: 3%;
        margin-right: 3%;
    }


    .activite img {
        height: 200px;
    }

    .lu_filtre .bouton_filtre i{
        margin-right: 4px;
    }



   
}
