/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}

/****** MON CODE ICI ***********/
.entete{
    display: flex;
    justify-content: space-between;
}

.entete_ensemble{
    display: flex;
    gap: 10px;
}

.entete_z{
    margin-right: 25px;
}

.entete_z:hover{
    color:blue;
    border-top: 3px solid blue;
    cursor: pointer;
    
}
.entete_e:hover{
    color:blue;
    border-top: 3px solid blue;
    cursor: pointer;
}


.imglogo{
    width: 100px;
    margin: 10px 10px 10px 0px;
}

.i_recherche{
    border: 3px solid ;
}



.lu_filtre{
    display: flex;
    gap: 10px;
    
}

.lu_filtre div{
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 20PX 20PX 20PX 20PX;
    width: 160px;
    height: 49px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;

}

.taille_bouton{
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    margin-left: -5px;
    border-color: #0065FC;
    font-weight: bold;
    font-size: 20px;
}

.taille_search{
    height: 43px;
    width: 214px;
    margin-left: -5px;
    border: 1px solid #D9D9D9;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.taille_i{
    border: 1px solid #F2F2F2;
    height: 33px;
    width: 27px;
    background-color: #F2F2F2;
    padding-top: 14px;
    padding-left: 14px;
    border-radius: 15px 0px 0px 15px;
}

.lu_filtre div:hover{
    background-color: #DEEBFF;
    cursor: default;
}

.lu_filtre div i{
    margin-right: 10px;
}


footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.p1{
    margin-left: 2em;
}

.p3{
    margin-right: 10em;
}

.class_activite{
    padding: 10px;
    margin-bottom: 54px;
}

.plus{
    font-weight: bold;
}

.activite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activite img{
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    margin-right: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.activite h3{
    padding-top: 5px;
    padding-bottom: 5PX;
    padding-left: 10px;
    
}

.activite_card{
    width: 24%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 320px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    

}

.card img {
    object-fit: cover;
    width: 100%;
    
}

.card_img{
    border-radius: 20px 20px 0 0;
    height: 100px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.card_hebergement{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
}

.card_hebergement a{
    width: 30%;
}

.card_hebergement .card{
    margin-top: 33px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .activite_card{
        width: 100%;
        
    }
}